body{
    font-family: Calibri;
}
line{
    stroke:#aaa;
}
.bar
{
    fill:#1e99e7;
    opacity: 0.7;
    font-size:24pt;
    font-weight:bold;
}
.xlabel
{
    fill:#aaa;
    font-size:14pt;
    text-anchor:middle;
}
.ylabel
{
    font-size:25pt;
    fill:gray;
    font-weight:bold;
    text-anchor:end;
}
p{
    font-size: xx-large;
    font-family: bold;
}